In [1]:
import pandas as pd

dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [10]:
Data= pd.Series([10,20,30])
print(Data.index , Data.values)
Data[0]

RangeIndex(start=0, stop=3, step=1) [10 20 30]

10

Pandas Series / DataFrame

Series => col 형식의 데이터처리 대문자 index와 values로 구성 1차원
Dataframe => 2차원의 구조 (index ,columns, values)로 구성

내부적으로 numpy를 사용하고 있다. pandas도

In [16]:
pandas_data =pd.Series(['a','b','c',4,5])

In [17]:
print(pandas_data)

0    a
1    b
2    c
3    4
4    5
dtype: object

In [15]:
print(pandas_data.values)

[1 2 3 4 5]

In [24]:
import numpy as np
index_data = ["2018-07-07","2018-07-10","2018-07-09","2019-07-10"]
s1 = pd.Series([200,195,np.NaN,205], index =index_data)
s1

2018-07-07    200.0
2018-07-10    195.0
2018-07-09      NaN
2019-07-10    205.0
dtype: float64

index를 내가 설정할 수 있다. Series([],index = "index ")

In [25]:
a1 = pd.Series({1:2,2:4,3:9})
print(a1.index)

Int64Index([1, 2, 3], dtype='int64')

In [34]:
print(pd.Series(pd.date_range(start='2019-01-01', end='2019-12/12', freq="M")))

0    2019-01-31
1    2019-02-28
2    2019-03-31
3    2019-04-30
4    2019-05-31
5    2019-06-30
6    2019-07-31
7    2019-08-31
8    2019-09-30
9    2019-10-31
10   2019-11-30
dtype: datetime64[ns]

In [35]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='d'))

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [37]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='50d'))

DatetimeIndex(['2019-01-01', '2019-02-20', '2019-04-11', '2019-05-31',
               '2019-07-20', '2019-09-08', '2019-10-28', '2019-12-17'],
              dtype='datetime64[ns]', freq='50D')

In [39]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='B'))

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [41]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='W'))

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27',
               '2019-02-03', '2019-02-10', '2019-02-17', '2019-02-24',
               '2019-03-03', '2019-03-10', '2019-03-17', '2019-03-24',
               '2019-03-31', '2019-04-07', '2019-04-14', '2019-04-21',
               '2019-04-28', '2019-05-05', '2019-05-12', '2019-05-19',
               '2019-05-26', '2019-06-02', '2019-06-09', '2019-06-16',
               '2019-06-23', '2019-06-30', '2019-07-07', '2019-07-14',
               '2019-07-21', '2019-07-28', '2019-08-04', '2019-08-11',
               '2019-08-18', '2019-08-25', '2019-09-01', '2019-09-08',
               '2019-09-15', '2019-09-22', '2019-09-29', '2019-10-06',
               '2019-10-13', '2019-10-20', '2019-10-27', '2019-11-03',
               '2019-11-10', '2019-11-17', '2019-11-24', '2019-12-01',
               '2019-12-08', '2019-12-15', '2019-12-22', '2019-12-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [42]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='4M'))

DatetimeIndex(['2019-01-31', '2019-05-31', '2019-09-30'], dtype='datetime64[ns]', freq='4M')

In [43]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='3M'))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31'], dtype='datetime64[ns]', freq='3M')

In [44]:
print(pd.date_range(start='2019/01/01', end='2019-12-31',freq='2M'))

DatetimeIndex(['2019-01-31', '2019-03-31', '2019-05-31', '2019-07-31',
               '2019-09-30', '2019-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [68]:
print(pd.date_range(start='2019', periods=100 ,freq='10t'))

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:10:00',
               '2019-01-01 00:20:00', '2019-01-01 00:30:00',
               '2019-01-01 00:40:00', '2019-01-01 00:50:00',
               '2019-01-01 01:00:00', '2019-01-01 01:10:00',
               '2019-01-01 01:20:00', '2019-01-01 01:30:00',
               '2019-01-01 01:40:00', '2019-01-01 01:50:00',
               '2019-01-01 02:00:00', '2019-01-01 02:10:00',
               '2019-01-01 02:20:00', '2019-01-01 02:30:00',
               '2019-01-01 02:40:00', '2019-01-01 02:50:00',
               '2019-01-01 03:00:00', '2019-01-01 03:10:00',
               '2019-01-01 03:20:00', '2019-01-01 03:30:00',
               '2019-01-01 03:40:00', '2019-01-01 03:50:00',
               '2019-01-01 04:00:00', '2019-01-01 04:10:00',
               '2019-01-01 04:20:00', '2019-01-01 04:30:00',
               '2019-01-01 04:40:00', '2019-01-01 04:50:00',
               '2019-01-01 05:00:00', '2019-01-01 05:10:00',
               '2019-01-01 05:20:00', '2019-01-01 05:30:00',
               '2019-01-01 05:40:00', '2019-01-01 05:50:00',
               '2019-01-01 06:00:00', '2019-01-01 06:10:00',
               '2019-01-01 06:20:00', '2019-01-01 06:30:00',
               '2019-01-01 06:40:00', '2019-01-01 06:50:00',
               '2019-01-01 07:00:00', '2019-01-01 07:10:00',
               '2019-01-01 07:20:00', '2019-01-01 07:30:00',
               '2019-01-01 07:40:00', '2019-01-01 07:50:00',
               '2019-01-01 08:00:00', '2019-01-01 08:10:00',
               '2019-01-01 08:20:00', '2019-01-01 08:30:00',
               '2019-01-01 08:40:00', '2019-01-01 08:50:00',
               '2019-01-01 09:00:00', '2019-01-01 09:10:00',
               '2019-01-01 09:20:00', '2019-01-01 09:30:00',
               '2019-01-01 09:40:00', '2019-01-01 09:50:00',
               '2019-01-01 10:00:00', '2019-01-01 10:10:00',
               '2019-01-01 10:20:00', '2019-01-01 10:30:00',
               '2019-01-01 10:40:00', '2019-01-01 10:50:00',
               '2019-01-01 11:00:00', '2019-01-01 11:10:00',
               '2019-01-01 11:20:00', '2019-01-01 11:30:00',
               '2019-01-01 11:40:00', '2019-01-01 11:50:00',
               '2019-01-01 12:00:00', '2019-01-01 12:10:00',
               '2019-01-01 12:20:00', '2019-01-01 12:30:00',
               '2019-01-01 12:40:00', '2019-01-01 12:50:00',
               '2019-01-01 13:00:00', '2019-01-01 13:10:00',
               '2019-01-01 13:20:00', '2019-01-01 13:30:00',
               '2019-01-01 13:40:00', '2019-01-01 13:50:00',
               '2019-01-01 14:00:00', '2019-01-01 14:10:00',
               '2019-01-01 14:20:00', '2019-01-01 14:30:00',
               '2019-01-01 14:40:00', '2019-01-01 14:50:00',
               '2019-01-01 15:00:00', '2019-01-01 15:10:00',
               '2019-01-01 15:20:00', '2019-01-01 15:30:00',
               '2019-01-01 15:40:00', '2019-01-01 15:50:00',
               '2019-01-01 16:00:00', '2019-01-01 16:10:00',
               '2019-01-01 16:20:00', '2019-01-01 16:30:00'],
              dtype='datetime64[ns]', freq='10T')

In [72]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [73]:
data_list = np.array(
[
    [10,20,30],
    [40,50,60],
    [70,80,90]
]
)
pd.DataFrame(data_list, index=[1,2,3], columns=[1,2,3])

    1   2   3
1  10  20  30
2  40  50  60
3  70  80  90

In [93]:
index_range = pd.date_range(start="2019.01.01",periods=3,freq='d')
pd.DataFrame(data_list, index = index_range, columns=['a','b','c'])

             a   b   c
2019-01-01  10  20  30
2019-01-02  40  50  60
2019-01-03  70  80  90

In [92]:
dict_ = {
    '연도' : [15,16,17,18] , 
    '고객수':[200,300,400,500],
    '위치' : ['서울','인천','부산','경기']
}
index_ =np.array([1,2,3,4])
df=pd.DataFrame(dict_ , index=index_)
print(df)
df.index
df.columns

   연도  고객수  위치
1  15  200  서울
2  16  300  인천
3  17  400  부산
4  18  500  경기

Index(['연도', '고객수', '위치'], dtype='object')

values가 array형태로 저장이 된다.