# 한국은행 OpenAPI 01 - 서비스 목록

<img src="http://ecos.bok.or.kr/images/new/openapi/api_visual.gif" />


#### 2017 FinanceData http://fb.com/financedata

# 한국은행 경제통계시스템 홈페이지
* http://ecos.bok.or.kr 홈페이지
* https://goo.gl/8evOMi 코드표

    
### 인증키 발급
* 회원가입 후,
* 상단 메뉴에 '서비스 이용 -> 인증키 신청'

# 100대 통계지표

100대 통계지표
* http://ecos.bok.or.kr/flex/Key100Stat_k.html

100대 통계지표 엑셀 파일 다운로드
* http://ecos.bok.or.kr/jsp/main/Key100StatExcelDown.jsp
* "Key100Stat.xls"파일

In [1]:
# "Key100Stat.xls"파일 다운로드

import pandas as pd

url = "http://ecos.bok.or.kr/jsp/main/Key100StatExcelDown.jsp"
df = pd.read_excel(url)

df.head()

WARNING *** file size (25965) not 512 + multiple of sector size (512)

               통계구분                              통계지표        원자료    단위
0  국민소득 · 경기 · 기업경영    경제성장률(실질, 계절조정 전기대비) ('17.1/4)        1.1    %
1  국민소득 · 경기 · 기업경영  민간소비증감률(실질, 계절조정 전기대비) ('17.1/4)        0.4    %
2  국민소득 · 경기 · 기업경영  설비투자증감률(실질, 계절조정 전기대비) ('17.1/4)        4.4    %
3  국민소득 · 경기 · 기업경영  건설투자증감률(실질, 계절조정 전기대비) ('17.1/4)        6.8    %
4  국민소득 · 경기 · 기업경영           GDP(명목, 계절조정) ('17.1/4)  424,653.0  십억원

# 주요 서비스 목록

* 'sample' 부분을 인증키로 바꾸면, 자료수를 늘릴 수 있다.
* 예를 들어, http://ecos.bok.or.kr/api/KeyStatisticList/G9FSKDP0EDJ4BVOZ5B9D/json/kr/1/100

#### 통계지표 100개
정책수립 및 동향분석에 유용한 통계지표 100개
* http://ecos.bok.or.kr/api/KeyStatisticList/sample/json/kr/1/10
    
#### 서비스 통계 목록
OpenAPI 통계목록
* http://ecos.bok.or.kr/api/StatisticTableList/sample/json/kr/1/10
    
#### 통계 세부항목 목록
서비스대상 통계의 세부 통계항목
* http://ecos.bok.or.kr/api/StatisticItemList/sample/json/kr/1/10/043Y062/    
    
#### 통계 조회 조건 설정
데이터 이용을 위한 조회조건 설정방법(통계코드, 통계명, 세부항목명, 기간 등)
* http://ecos.bok.or.kr/api/StatisticSearch/sample/json/kr/1/10/010Y002/MM/201101/201608/AAAA11/

#### 통계메타DB
한국은행에서 작성, 제공하는 15개 통계에 대한 이용자의 이해를 돕기 위한 통계 설명자료
* http://ecos.bok.or.kr/api/StatisticMeta/sample/json/kr/1/10/경제심리/

#### 통계용어사전
경제 및 통계에 대한 전문용어를 알기쉽게 풀이한 사전 (총 803개의 용어)
* http://ecos.bok.or.kr/api/StatisticWord/sample/json/kr/1/10/소비자/

In [2]:
import requests

params = 'G9FSKDP0EDJ4BVOZ5B9D/json/kr/1/5/'
url = 'http://ecos.bok.or.kr/api/KeyStatisticList/' + params

r = requests.get(url)
print (r.text)

{"KeyStatisticList":{"list_total_count":99,"row":[{"CLASS_NAME":"국민소득 · 경기 · 기업경영","UNIT_NAME":"% ","CYCLE":"2017,1/4","KEYSTAT_NAME":"경제성장률(실질, 계절조정 전기대비)","DATA_VALUE":1.1},{"CLASS_NAME":"국민소득 · 경기 · 기업경영","UNIT_NAME":"% ","CYCLE":"2017,1/4","KEYSTAT_NAME":"민간소비증감률(실질, 계절조정 전기대비)","DATA_VALUE":0.4},{"CLASS_NAME":"국민소득 · 경기 · 기업경영","UNIT_NAME":"% ","CYCLE":"2017,1/4","KEYSTAT_NAME":"설비투자증감률(실질, 계절조정 전기대비)","DATA_VALUE":4.4},{"CLASS_NAME":"국민소득 · 경기 · 기업경영","UNIT_NAME":"% ","CYCLE":"2017,1/4","KEYSTAT_NAME":"건설투자증감률(실질, 계절조정 전기대비)","DATA_VALUE":6.8},{"CLASS_NAME":"국민소득 · 경기 · 기업경영","UNIT_NAME":"십억원 ","CYCLE":"2017,1/4","KEYSTAT_NAME":"GDP(명목, 계절조정)","DATA_VALUE":424653}]}}

# JSON 포맷터
* 온라인 JSON 포맷터 http://jsonformatter.org/

```js
{
  "KeyStatisticList": {
    "list_total_count": 101,
    "row": [
      {
        "CLASS_NAME": "국민소득 · 경기 · 기업경영",
        "UNIT_NAME": "% ",
        "CYCLE": "2016,1/4",
        "KEYSTAT_NAME": "경제성장률(실질, 계절조정 전기대비)",
        "DATA_VALUE": 0.5
      },
      {
        "CLASS_NAME": "국민소득 · 경기 · 기업경영",
        "UNIT_NAME": "% ",
        "CYCLE": "2016,1/4",
        "KEYSTAT_NAME": "민간소비증감률(실질, 계절조정 전기대비)",
        "DATA_VALUE": -0.2
      },
            ...
```

# OpenAPI 테스트

테스트 URL : http://ecos.bok.or.kr/api/StatisticTableList/sample/xml/kr/1/10/

## OpenAPI 메세지

타입 | 코드 | 설명
---  | ---  | --- 
정보 | 100 | 인증키가 유효하지 않음
정보 | 200 | 해당하는 데이터가 없음
에러 | 100 | 필수 값이 누락
에러 | 200 | 파일타입 값이 누락 혹은 유효하지 않음
에러 | 300 | 조회건수 값이 누락
에러 | 301 | 조회건수 값의 타입이 유효하지 않음
에러 | 500 | 서버 오류
에러 | 600 | DB Connection 오류
에러 | 601 | SQL 오류

# read_json()의 문제
JSON 데이터를 DataFrame으로 만들기위해 pandas.read_json()을 쓸 수 있으나,
계층적인 데이터를 로드할 수 없다.

In [3]:
import pandas as pd

params = 'G9FSKDP0EDJ4BVOZ5B9D/json/kr/1/5/'
url = 'http://ecos.bok.or.kr/api/KeyStatisticList/' + params

r = requests.get(url)
df = pd.read_json(r.text)
df

                                                   KeyStatisticList
list_total_count                                                 99
row               [{'CLASS_NAME': '국민소득 · 경기 · 기업경영', 'UNIT_NAME...

# json_normalize()
* http://goo.gl/a55AIv pandas.io.json.json_normalize

In [4]:
import json
from pandas.io.json import json_normalize

params = 'G9FSKDP0EDJ4BVOZ5B9D/json/kr/1/1000/'
url = 'http://ecos.bok.or.kr/api/KeyStatisticList/' + params
   
r = requests.get(url)
jo = json.loads(r.text)

result = json_normalize(jo['KeyStatisticList']['row'])
result.head()

         CLASS_NAME     CYCLE  DATA_VALUE            KEYSTAT_NAME UNIT_NAME
0  국민소득 · 경기 · 기업경영  2017,1/4         1.1    경제성장률(실질, 계절조정 전기대비)        %
1  국민소득 · 경기 · 기업경영  2017,1/4         0.4  민간소비증감률(실질, 계절조정 전기대비)        %
2  국민소득 · 경기 · 기업경영  2017,1/4         4.4  설비투자증감률(실질, 계절조정 전기대비)        %
3  국민소득 · 경기 · 기업경영  2017,1/4         6.8  건설투자증감률(실질, 계절조정 전기대비)        %
4  국민소득 · 경기 · 기업경영  2017,1/4    424653.0           GDP(명목, 계절조정)      십억원

## 서비스명 : 서비스 통계 목록

## 상세주소 
* http://ecos.bok.or.kr/api

## 요청인자

변수명 | 타입 | 필수여부 | 값 설명
--- | --- | --- | ---
서비스명 | text | Y | 
인증키 | text | Y | 
요청타입 | text | Y | 
언어 | text | Y | 
요청시작건수 | text | Y | 
요청종료건수 | text | Y | 
통계코드 | Text | N | 

## 출력값

순번 | 출력명 | 출력설명 
---- | -----  | ------
1 | P_STAT_CODE | 부모통계코드 
2 | STAT_CODE | 통계코드 
3 | STAT_NAME | 통계명 
4 | CYCLE | 주기 
5 | SRCH_YN | 검색가능여부 
6 | ORG_NAME | 출처

In [5]:
from pandas.io.json import json_normalize

params = 'G9FSKDP0EDJ4BVOZ5B9D/json/kr/1/1000/?/'
url = 'http://ecos.bok.or.kr/api/StatisticTableList/' + params

r = requests.get(url)
jo = json.loads(r.text)
result = json_normalize(jo['StatisticTableList']['row'])
result.head()

  CYCLE ORG_NAME P_STAT_CODE SRCH_YN STAT_CODE                      STAT_NAME
0                          *       N   000Y005                   1.통화 및 유동성지표
1    MM              000Y005       Y   010Y002                  1.1.주요 통화금융지표
2                    000Y005       N   000Y074                       1.2.본원통화
3                    000Y074       N   000Y701            1.2.1 본원통화 구성내역(말잔)
4    MM              000Y701       Y   054Y407  1.2.1.1 본원통화 구성내역(말잔, 계절조정계열)

In [6]:
result[['STAT_NAME', 'STAT_CODE']].head()

                       STAT_NAME STAT_CODE
0                   1.통화 및 유동성지표   000Y005
1                  1.1.주요 통화금융지표   010Y002
2                       1.2.본원통화   000Y074
3            1.2.1 본원통화 구성내역(말잔)   000Y701
4  1.2.1.1 본원통화 구성내역(말잔, 계절조정계열)   054Y407

In [7]:
result['DEPTH'] = result['STAT_NAME'].str.extract("([0-9\.]+)", expand=True)
result['NAME'] = result['STAT_NAME'].str.extract("([^0-9\.].+)", expand=True)
result['LEVEL'] = result['DEPTH'].str.count('[0-9]+')

In [8]:
result.head()

,CYCLE,ORG_NAME,P_STAT_CODE,SRCH_YN,STAT_CODE,STAT_NAME,DEPTH,NAME,LEVEL
0,,,*,N,000Y005,1.통화 및 유동성지표,1.,통화 및 유동성지표,1
1,MM,,000Y005,Y,010Y002,1.1.주요 통화금융지표,1.1.,주요 통화금융지표,2
2,,,000Y005,N,000Y074,1.2.본원통화,1.2.,본원통화,2
3,,,000Y074,N,000Y701,1.2.1 본원통화 구성내역(말잔),1.2.1,본원통화 구성내역(말잔),3
4,MM,,000Y701,Y,054Y407,"1.2.1.1 본원통화 구성내역(말잔, 계절조정계열)",1.2.1.1,"본원통화 구성내역(말잔, 계절조정계열)",4

In [9]:
result.tail()

,CYCLE,ORG_NAME,P_STAT_CODE,SRCH_YN,STAT_CODE,STAT_NAME,DEPTH,NAME,LEVEL
605,YY,OECD,000Y070,Y,I05Y009,17.1.21 PPP환율,17.1.21,PPP환율,3
606,,,000Y001,N,000Y111,17.2.남북한 주요지표 비교,17.2.,남북한 주요지표 비교,2
607,YY,,000Y111,Y,034Y003,17.2.1 남북한 주요지표 비교(총량),17.2.1,남북한 주요지표 비교(총량),3
608,YY,,000Y111,Y,034Y002,17.2.2 남북한 주요지표 비교(남한/북한 배율),17.2.2,남북한 주요지표 비교(남한/북한 배율),3
609,YY,,000Y001,Y,034Y001,17.3.북한GDP 관련 통계,17.3.,북한GDP 관련 통계,2

In [10]:
result.drop('STAT_NAME', axis=1, inplace=True)
result.to_csv('ecos_stat_list.csv', index=False)

In [11]:
! head stat_list.csv

head: 읽기를 위해 'stat_list.csv'을(를) 열 수 없음: 그런 파일이나 디렉터리가 없습니다

In [12]:
import pandas as pd

df = pd.read_csv('ecos_stat_list.csv')
df.head(10)

,CYCLE,ORG_NAME,P_STAT_CODE,SRCH_YN,STAT_CODE,DEPTH,NAME,LEVEL
0,NaN,NaN,*,N,000Y005,1.,통화 및 유동성지표,1
1,MM,NaN,000Y005,Y,010Y002,1.1.,주요 통화금융지표,2
2,NaN,NaN,000Y005,N,000Y074,1.2.,본원통화,2
3,NaN,NaN,000Y074,N,000Y701,1.2.1,본원통화 구성내역(말잔),3
4,MM,NaN,000Y701,Y,054Y407,1.2.1.1,"본원통화 구성내역(말잔, 계절조정계열)",4
5,MM,NaN,000Y701,Y,054Y007,1.2.1.2,"본원통화 구성내역(말잔,원계열)",4
6,NaN,NaN,000Y074,N,000Y702,1.2.2,본원통화 구성내역(평잔),3
7,MM,NaN,000Y702,Y,054Y408,1.2.2.1,"본원통화 구성내역(평잔, 계절조정계열)",4
8,MM,NaN,000Y702,Y,054Y008,1.2.2.2,"본원통화 구성내역(평잔,원계열)",4
9,NaN,NaN,000Y005,N,000Y006,1.3.,M2(광의통화),2

# 생성된 csv를 gist에 공유

저장한 결과(ecos_stat_list.csv)를  https://gist.github.com 에 저장하였다. URL은 다음과 같다.
* https://gist.github.com/76a25e725bcc04f07fead0f866fc152b

이 파일(ecos_stat_list.csv)의 원본(raw)에 대한 URL은 다음과 같다. [Raw] 버튼을 눌러 확인할 수 있다.
*
https://gist.githubusercontent.com/FinanceData/76a25e725bcc04f07fead0f866fc152b/raw/1c9382b26737f7e752d0b697e884081087ea70d6/ecos_stat_list.csv

이 URL을 단축 URL로 만든다.
* https://goo.gl/Yu7Vra

이렇게 만든 ecos_stat_list.csv 파일에 대한 URL은 어디서나 읽을 수 있다.

In [13]:
import pandas as pd

df = pd.read_csv("https://goo.gl/Yu7Vra")
df.head()

,CYCLE,ORG_NAME,P_STAT_CODE,SRCH_YN,STAT_CODE,DEPTH,NAME,LEVEL
0,NaN,NaN,*,N,000Y005,1.,통화 및 유동성지표,1
1,MM,NaN,000Y005,Y,010Y002,1.1.,주요 통화금융지표,2
2,NaN,NaN,000Y005,N,000Y074,1.2.,본원통화,2
3,NaN,NaN,000Y074,N,000Y701,1.2.1,본원통화 구성내역(말잔),3
4,MM,NaN,000Y701,Y,054Y407,1.2.1.1,"본원통화 구성내역(말잔, 계절조정계열)",4

----
#### 2017 FinanceData http://fb.com/financedata http://financedata.github.com